<input type='text' [(ngModel)]="filmName" (ngModelChange)="getJSON($event);"><button mat-button (click)="add();"> Add </button>

<div *ngIf='JSON && JSON.Response!="False"' class='filmItem'>
  <img *ngIf="JSON.Poster!='N/A'" id='view' src='{{JSON.Poster}}'>
  <div class="desc">
    <div>Title: {{JSON.Title}}</div>
    <div>Year: {{JSON.Year}}</div>
    <div>Actors: {{JSON.Actors}}</div>
    <div>Country: {{JSON.Country}}</div>
    <div>Director: {{JSON.Director}}</div>
    <div>Genre: {{JSON.Genre}}</div>
    <div>Plot: {{JSON.Plot}}</div>
    <div>IMDB Rating: {{JSON.imdbRating}}</div>
  </div>
</div>
<div *ngIf='!JSON || JSON.Response=="False"' class='filmItemNoFound'>No film found!</div>
<div *ngFor="let film of filmsArr; let i=index" class="list">
  <span (click)="info(film);">{{film}}</span> <button mat-button (click)="del(i);"> X </button>
</div>

<div *ngIf='information && information.Response!="False"' class='filmInfo'>
    <img *ngIf="information.Poster!='N/A'" id='view' src='{{information.Poster}}'>
    <div class="descInfo">
      <div>Title: {{information.Title}}</div>
      <div>Year: {{information.Year}}</div>
      <div>Actors: {{information.Actors}}</div>
      <div>Country: {{information.Country}}</div>
      <div>Director: {{information.Director}}</div>
      <div>Genre: {{information.Genre}}</div>
      <div>Plot: {{information.Plot}}</div>
      <div>IMDB Rating: {{information.imdbRating}}</div>
    </div>
  </div>
  